<article class="col-md-4 inline floatnone valign-t">
	<div class="panel panel-default">
		<div class="panel-body codepanel">
			<h2 class="font big book block color white"><%= link_to "Search job posts", job_search_path, class: "font big book block color white" %></h2>
		</div>
		<div class="panel-footer text-left">
			<hr class="blue_bg">
			<div class="data semi_padding_bottom">
                <span class="font color semi_grey small"> It's time to find the position of your dreams</span>
            </div>
		</div>
	</div>
	

</article>

<article class="col-md-4 inline floatnone valign-t">
	<div class="panel panel-default">
		<div class="panel-body codepanel">
			<h2 class="font big book block color white"><%= link_to "Search companies", company_search_path, class: "font big book block color white"%></h2>
		</div>
		<div class="panel-footer text-left">
			<hr class="blue_bg">
			<div class="data semi_padding_bottom">
                <span class="font color semi_grey small ng-binding"> Find the ones you want to work with</span>
            </div>
		</div>
	</div>
</article>


<article class="col-md-4 inline floatnone valign-t">
	<div class="panel panel-default">
		<div class="panel-body codepanel">
			<h2 class="font big book block color white"><%= link_to "Edit your profile", edit_student_path(current_user), class: "font big book block color white"%></h2>
		</div>
		<div class="panel-footer text-left">
			<hr class="blue_bg">
			<div class="data semi_padding_bottom">
                <span class="font color semi_grey small ng-binding"> Companies will fall in love with it</span>
            </div>
        </div>
	</div>
</article>


<article class="col-md-4 inline floatnone valign-t">
	<div class="panel panel-default">
		<div class="panel-body codepanel">
			<h2 class="font big book block color white"><%= link_to "Your applications", student_applications_path(current_user), class: "font big book block color white"%></h2>
		</div>
		<div class="panel-footer text-left">
			<hr class="blue_bg">
			<div class="data semi_padding_bottom">
                <span class="font color semi_grey small ng-binding"> What are you waiting for?</span>
            </div>
        </div>
	</div>
</article>