<h1>Welcome <%= current_user.first_name %></h1>

<section>
	<h2>Notifications</h2>
		<ul class="notifications">
			<% if @pending_companies %>
				<li>There is <%= @pending_companies.count %> company confirmation request</li>
			<% else %>
				<li>Nothing pending</li>
			<% end %>
		</ul>
</section>
<section>
	<h2>Companies waiting for confirmation</h2>

</section>

<section>
	<h2>Job Posts to validate</h2>

</section>