<section class="content center padding_top padding_bottom">
	<h1 class="font book big center padding_bottom color dark_grey">Welcome <span class="font bold"><%= current_user.first_name %></span></h1>

	<div class="row center">
		<%= select_user_dashboard %>
	</div>
	

</section>

