<h1>Welcome <%= @admin.first_name %></h1>

<section>
	<h2>Notifications</h2>
		<ul class="notifications">
			<li>Nothing pending</li>
		</ul>
</section>
<section>
	<h2>Companies waiting for confirmation</h2>

</section>

<section>
	<h2>Job Posts to validate</h2>

</section>