<% if @tags != ""%>
  Filtering by: <% @tags.each do |tag|%>
    <strong><%= tag %> </strong>
  <% end %>
<% end %>
<%= flash[:alert] if flash.any? %>

<%= link_to set_route_to_filter, remote: true, class: "btn btn-default" do %>
<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Reset tags

<% end %>