<% if @tags != ""%>
  Filtering by: <% @tags.each do |tag|%>
    <strong><%= tag %> </strong>
  <% end %>
<% end %>
<%= flash[:alert] if flash.any? %>

<%= button_to set_route_to_filter, class: "btn btn-default", id: "reset-tags" do %>
<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Reset tags

<% end %>