<%= form_tag(set_route_to_filter , method: "get") do %>
  <div class="field">
	<%= label_tag(:query, "Search for:") %>
 	<%= text_field_tag(:query) %>
  </div>
  
  <%= submit_tag("Search") %>
<% end %>