<div class="container">

  <%= form_tag(set_route_to_filter , method: "get", remote: true, class: "navbar-form navbar-left") do %>
    <div class="field form-group">
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag :query, "", class: "form-control", id: "query" %>
    </div>
    
    <%= submit_tag("Search", class: "btn btn-default", id: "search-query") %>

    <div class="search-filters form-group" id="search-filters"></div>

  <% end %>

</div>