<h1>Available Jobs</h1>

<%= render 'form' %>

<ul class="post-search">
	<% @job_posts.each do |post| %>
		<li><%= link_to post.position,  company_job_post_path(post.company, post) %> <br>
			tags: <%= post.tag_list %>
		</li>
	<% end %>
</ul>