<article class="col-md-8 inline floatnone valign-t">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title font biggest book block color black">Available Jobs</h3>
		<div>
			<%= render 'form' %> 
		</div>			
	  </div>
	   <div class="panel-body text-left">	
			<div class="list-group student-listing post-search" id="filtered-job-posts">
				<%= render @job_posts %>
			</div>
		</div>
	</div>
</article >