<article class="col-md-8 inline floatnone valign-t">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title font biggest book block color black">Search students</h3>
		<div>
			<%= render 'form' %> 
		</div>			
	  </div>
	   <div class="panel-body text-left">	
			<div class="list-group student-listing post-search">
				<% @students.each do |student| %>
				<li class="list-group-item">
					<strong><%= link_to student.name, student_path(student)%></strong></br>
					tags: <%=student.tag_list.to_s%>
				</li>
			<% end %>
			</div>
		</div>
	</div>
</article >

	
