<section class="content center col-md-12 padding_top padding_bottom">
 <div class= "center padding_bottom">
   <h1 class="font book insane bold center padding_bottom margin0 padding0 color dark_grey">Edit your profile</h1>
 </div>

<%= render 'form' %>

</section>