<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Ironjobs</h1>
    <p>
      We hope the wait has not been too long.<br>
    </p>
    <p>
       Now, your profile is visible. Remember that all the job posts you publish will pass a previous filter by our side.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>