<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new company waiting for confirmation!</h1>
    <p>
      You can check it here:<br>
    </p>
    <p> <%= link_to "Confirm", company_job_post_url(@company, @job_post)%></p>
  </body>
</html>