<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations</h1>
    <p>
      Your job post is now public.<br>
    </p>
    <p>Thanks for your collaboration and have a great day!</p>
  </body>
</html>