<h1><%= @company.name %></h1>

<ul>
	<% @company.attributes.each do |attribute|%>
		<li><%= attribute %></li>
	<%end %>

</ul>

<% if @company.tag_list %>
	<h2>Tags</h2>
	<p><%= @company.tag_list %></p>
<% end %>