<h1>Job Posts of <%= @company.name %></h1>

<ul>
	<% @job_posts. each do |post| %>
		<li> <%= link_to post.position + " at " + post.location, company_job_post_path(@company, post) %></li>

	<% end %>

</ul>