<article class="col-md-4 inline floatnone valign-t">
<h1>Create a new Job Post</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= render 'form' %>
		</div>
	</div>
</article>