<h1><%= @job_post.position + " at " + @job_post.location %></h1>

<p>Company: <%= link_to @company.company_name, company_path(@job_post.company) %></p>


<% if @job_post.tag_list %>
	<h2>Tags</h2>
	<p><%= @job_post.tag_list %> </p>

<% end %>

<%= button_to "Apply!", student_applications_path(@user), params: { job_post_id: @job_post.id }  %>