/*@import "variables";*/

/* Bg Colors */

.bg_green {background-color: $green;}
.bg_blue {background-color: $blue;}
.bg_yellow {background-color: $yellow;}
.bg_red {background-color: $red;}
.bg_light_grey {background-color: $light_grey;}
.bg_dark_grey {background-color: $dark_grey;}
.bg_white {background-color: $white;}
.bg_light_blue {background-color: $light_blue;}