@import "variables";



footer {
    background: $dark-grey;
    font-weight: bold;
    color: $white;
    height: 100px;
	padding-top: 38px;
}

/* Edit Profile */
.striped_bordered { background: #fdfdfd	;border: 2px dashed #DEDEDE;}
.avatarbig {width: 140px; height: 140px;}
.avatartop {width:30px; height:30px; margin-right:$semimargin; padding: 0px;}
.avatarbottom {width:20px; height:20px; margin-right:$semimargin; padding: 0px;}
.change_avatar {border: 4px solid $light_grey; border-radius: $baseBorderRadius; padding: $doublepad;}

/* Override Bootstrap Defaults */

body {
	background: #fff;
}
.navbar {
	background: $dark_grey;
	margin-bottom: 0px;
	border-radius: 0px;
		ul {
			list-style:none;
		}
		li {
			color: $white;
			font-weight: 700;
			border: 0px;
			a {
				border:0px;
			}
		}
		li:hover {
			color: #ff9900;
		}
		.logo {
			width:120px;
			display:inline-block;
		}
}

/* Override Bootstrap btn btn-default */
.btn {
	background: #fff;
	border: 1px solid #f0f0f0;
	text-shadow: none;
	color: $grey;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn:hover, .btn:focus, .btn:visited {
	background:  $blue;
	border: 1px solid #f0f0f0;
}

.btn:active {
	background: $blue;
}


/* Participants */

.border-top {
	border-top: 1px solid $light_grey;
}

.border {
	border-radius: 2px;
	border-bottom: 1px solid $grey;
	border-top: 1px solid $grey;
	border-right: 1px solid $grey;
	border-left: 1px solid $grey;
}

/* Progressbar */

.progress { 
	border: 1px solid #4c5053;
	padding: 3px;
	&.light { 
		background: #f0f0f0;
		border: 1px solid #ccc;}
	.progress-bar {
		background: $green;
		border-radius: 2px;
	}
	
}

/* Profile + Course Sidebar */

.profile_box {
	border-radius: 4px 4px 0 0;
	padding: 25px 20px 15px 20px;

	img {
		border: 4px solid $white;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		margin:0px 0 0px 10px;
	}
}

/* Course Sidebar */

.courselist {
	.opened_course {
		ul {
			padding-top: 20px;
		}
	}
	ul {
		padding: 0px;
		li {
			border: 1px solid $light_grey;
			border-top: 0px;
			padding: $semipad;
		&.active {
			color: $dark_grey;
		}
		&:hover {
			color: $dark_grey;
		}
		&:last-child {
			border-radius: 0 0 4px 4px;
		}
		}
	}
	
}

/* Q&A */

.reply_message{
	background: $light_grey;
	border-radius: $baseBorderRadius;
	margin-left:4px;
}

.reply_message:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: 8px;
    left:-15px;
    border: 8px solid transparent;
    border-right-color: #f3f3f3;
}

/* Panels */

.panel-footer-2 {
	background: $light_grey;
	padding: $semipad;
	line-height: 1em;
}

.panel-participant-footer {
	background: $light_grey;
	padding: $semipad;
	margin: 0px;
	border: 1px solid $grey;
	border-top: 0px;
	border-radius: 0 0 4px 4px;
}

.panel-body {
	border-right: 1px solid $light_grey;
	border-left: 1px solid $light_grey;

}

/* Alert Box */

.alert {
	line-height: 40px;
	margin: 0px;
	padding: 0px 10% 0px 10%;
}

.alert-success {
  background-color: #46ba7d;
  border-color: #46ba7d;
  color: #ffffff;
}

/* Breadcrumbs */

.breadcrumbs {
	background: $light_grey;
	color: $semi_dark_grey;
	padding-top: $semipad;
	padding-bottom: $semipad;
}

/* Votes */

.votestar:hover {
	color: $yellow;
}

/* Social Icons */

.social i:hover {
	color: $dark_grey;
	cursor: pointer;
}

/* Login Area */

.login_area {height: 50px;padding-top: 10px!important;}

/* Button file */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Tabs */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: $blue;
  border: 1px solid #1c1e22;
  border-bottom-color: transparent;
  cursor: default;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $blue;
  color: $white;
  cursor: pointer;
}

/* panels */
.panel {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.alert-dismissable .close {
  top: 5px;
}

.selected {
  background-color: #ddd;
}

a:focus {
  color: $blue;
}
/* Tables inside markdown */ 

.content {
  table {
    background-color: #ffffff;
  }

  th, td {
    padding: 0 10px;
  }
}

.border_red {
  border: 1px solid $red;
}