/* Variables */

$green: #46ba7d;
$blue: #257ab9;
$yellow: #f5c84e; 
$dark_grey: #33373a;
$semi_dark_grey: #959ba0;
$light_grey: #f3f3f3;
$grey: #dfdfdf;
$white: #ffffff;
$red: #bb615f;
$black: #000000;
$semi_grey: #dbdbdb;
$light_blue: #a9cbe1;

// Layout
$quarterpad: 5px;
$semipad: 10px;
$pad: 20px;
$doublepad: 40px;
$triplepad: 80px;
$baseBorderRadius: 4px;

$semimargin: 10px;
$margin: 20px;
$doublemargin: 40px;
$triplemargin: 60px;

// Typography

// $font-size-insane: 1.6em;
// $font-size-biggest: 1.4em;
// $font-size-big: 1.2em;
// $font-size-small: 0.9em;
// $font-size-tiny: 0.8em;

// Navbar

$navbar-default-bg: $dark_grey;
$navbar-default-link-color: $grey;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: $black;
$navbar-default-link-active-color: $white;

// Dropdown
$dropdown-bg: $dark_grey;
$dropdown-link-color: $grey;
$dropdown-divider-bg: $black;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $black ;