<footer>
	<div class="container">
		<%= image_tag "logo.png", class: "inline" %>
	    <span class="inline big semi_margin_left">
	        © 2015
	    </span>
	    <span class="pull-right">
	 <!--       The most hardcoded awesome experience in the world. -->
	    </span>
	</div>
</footer>
